body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.game-container {
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    border: 1px solid black;
}

button {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.reset {
    width: 8em;
    height: 4em;
    align-self: center;
}

/*.main-container::before {
    content: "X's turn.";
    align-self: center;
}

.main-container::after {
    content: "lii";
}*/

.message {
    align-self: center;
}